<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sql.resources.twitterloginInfodao">
	
	<select id="selectExistTwitterId" parameterType="String" resultType="String">
		SELECT EMAIL FROM TB_TWITTER_AUTH_TOKEN
		WHERE 1=1
		AND EMAIL = #{email}
	</select>
	
	<select id="selectStatusFTwitterId" resultType="AuthToken">
		SELECT EMAIL, USER_ID as userId , USER_PASSWORD as userPassword FROM TB_TWITTER_AUTH_TOKEN
		WHERE 1=1
		AND STATUS = 'X'
	</select>
	
	<insert id="insertTwitterNewId" parameterType="AuthToken" >
		INSERT INTO TB_TWITTER_AUTH_TOKEN
		(EMAIL, USER_ID , USER_PASSWORD, TOKEN, COOKIE, USE_UID , CREATE_DATE, USE_DATE, STATUS)
		VALUES (
			#{email},
			#{userId},
			#{userPassword},
			#{token},
			#{cookie},
			null,
			sysdate,
			sysdate,
			'T'
		)
	</insert>
	
	<update id="updateTwitterAuthData" parameterType="AuthToken">
		UPDATE TB_TWITTER_AUTH_TOKEN
		SET TOKEN = #{token},
		COOKIE = #{cookie},
		USE_DATE = sysdate, 
		STATUS = 'T'
		WHERE 1=1 
		AND EMAIL = #{email}
	</update>
	
	<update id = "updateAuthTokenStatusC" parameterType="String">
		UPDATE TB_TWITTER_AUTH_TOKEN
		SET STATUS ='C'
		WHERE 1=1
		AND EMAIL = #{email}
	</update>
	
	<update id = "updateAuthTokenStatusE" parameterType="String">
		UPDATE TB_TWITTER_AUTH_TOKEN
		SET STATUS ='E'
		WHERE 1=1
		AND EMAIL = #{email}
	</update>
	
	<update id = "updateAuthTokenStatusF" parameterType="String">
		UPDATE TB_TWITTER_AUTH_TOKEN
		SET STATUS ='F'
		WHERE 1=1
		AND EMAIL = #{email}
	</update>
	
	<select id="selectIpAuthInfo" parameterType="String" resultType="AuthToken">
		SELECT EMAIL, USER_ID as userId , USER_PASSWORD as userPassword, TOKEN, COOKIE, USE_UID as useUid,
		 CREATE_DATE as createDate, USE_DATE as useDate,
		 STATUS, IP FROM TB_TWITTER_AUTH_TOKEN
		WHERE 1=1
		AND IP = #{ip}
	</select>
	
	<update id = "updateAuthToken401" parameterType="String">
		UPDATE TB_TWITTER_AUTH_TOKEN
		SET STATUS ='Z'
		WHERE 1=1
		AND USER_ID = #{id}
	</update>
	
	<select id="select401TwitterId" resultType="AuthToken">
		SELECT EMAIL, USER_ID as userId , USER_PASSWORD as userPassword FROM TB_TWITTER_AUTH_TOKEN
		WHERE 1=1
		AND STATUS = 'Z'
	</select>
	
	<update id="updateAuthTokenUseDateReset" parameterType="AuthToken">
		UPDATE TB_TWITTER_AUTH_TOKEN
		SET USE_DATE = #{useDate}
		WHERE 1=1 AND USER_ID = #{userId}
	</update>
	
	<insert id= "insertXCTxidToken" parameterType="XCTxidToken">
		INSERT INTO TB_TWITTER_XCTXID_TOKEN
		(TOKEN, STATUS, IP)
		VALUES (
			#{token},
			'T',
			#{ip}
		)
	</insert>
	
	<select id="selectAuthTokenStatus" parameterType="String" resultType="AuthToken" >
		SELECT * FROM TB_TWITTER_AUTH_TOKEN
		WHERE 1=1
		AND STATUS = #{status}
	</select>
	
	<select id="selectAuthTokenIpAndStatus" parameterType="map" resultType="AuthToken" >
		SELECT * FROM TB_TWITTER_AUTH_TOKEN
		WHERE 1=1
		AND IP = #{ip}
		AND STATUS = #{status}
	</select>
	
</mapper>